@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Courgette";
  background-color: rgb(248, 236, 238);
}

/* ItemList styling */

.display-items {
  width: 70%;
  margin: auto;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.item-list {
  width: 150px;
  padding: 20px;
}

.item-list:hover {
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.image-box img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.item-list-details p:nth-child(1) {
  text-align: center;
  padding: 5px 0 0 0;
}

.item-list-details p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 0 0;
}

.item-list-button button {
  padding: 5px 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px 0 5px 45px;
  color: black;
  transition-duration: 0.4s;
}

.item-list-button button:hover {
  background-color: black;
  color: white;
}

.blank-amt {
  color:rgb(248, 236, 238);
}

/* NavBar styling */

nav {
  width: 100%;
  height: 95px;
  background-image: linear-gradient(rgb(252, 166, 181), rgb(245, 216, 219));
}

.nav-bar {
  width: 92%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-name-logo {
  display: flex;
}

.shop-name {
  font-size: 1.75rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.cart {
  cursor: pointer;
  margin-top: 25px;
  margin-left: 950px;
}

.cart span:nth-child(1) {
  font-size: 2rem;
  color: black;
}

.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -15px;
}

.sign-out {
  cursor: pointer;
  margin-top: 8px;
  margin-left: 40px
}

.sign-out span:nth-child(1) {
  font-size: 2rem;
  color: black;
}

.logo {
  height: 10%;
  width: 10%;
  margin-left: 15px;

}

/* Item detail styling */

.item-detail {
  display: flex;
}

.item-detail-img {
  height: 480px;
  width: 480px;
  border-radius: 8px;
  margin: 55px 0 25px 200px;
}

.item-detail-text-box {
  margin: 170px 0 0 130px;
  text-align: center;
  width: 300px;
}

.item-detail-button {
  background-color: white;
  color: black;
  font-size: 18px;
  border-radius : 8px;
  font-weight: bold;
  transition-duration: 0.4s;
  height: 40px;
  width: 150px;
}

.item-detail-button:hover {
  background-color: black;
  color: white;
}

.item-detail-review-box {
  margin-left: 200px;
  font-size: 1rem;
}

.review-list {
  list-style-type: "🕊"
}


.item-detail-review {
  margin-bottom: 10px
}

/* Review styling */

.review-comment {
  margin: 0 0 5px 0;
}

/* Footer styling */

.footer-parent {
  display: flex;
  flex-direction: column;
  min-height: 9vh;
}

.footer-container {
  margin-top: auto;
}

.attribute {
  display: flex;
  flex-direction: row;
}

.attribute a {
  color: black;
  font-size: small;
  margin-left: 70px;
}

.footer {
  display: flex;
  background-image: linear-gradient(rgb(252, 166, 181), rgb(245, 216, 219));
  padding: 40px 0 40px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.about-contact {
  display: flex;
}

.about {
  margin-left: 1000px;
}

.footer-container .contact {
  margin-left: 15px;
}

/* Cart styling */

article {
  width: 60%;
  margin: auto;
}

.cart-box img {
  width: 50px;
  height: 50px;
}

.cart-image {
  display: flex;
  width: 400px;
}

.cart-image p {
  font-weight: bold;
  margin-left: 10px;
}

.cart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid pink;
  padding-bottom: 5px;
}

.cart-box div:nth-child(2) button {
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}

.cart-box div:nth-child(3) button {
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.cart-box div:nth-child(3) button:hover {
  background-color: black;
  color: white;
}

.cart-box div:nth-child(3) span {
  background-color: white;
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.total span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
}

.checkout-box {
  display: flex;
  flex-direction: column;
}

.checkout-button {
  display: flex;
  justify-content: right;
}

.checkout-button button{
  padding: 5px 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0 5px 0;
  color: black;
  transition-duration: 0.4s;
}

.checkout-button button:hover {
  background-color: black;
  color: white;
}

.continue-shopping-button {
  display: flex;
  justify-content: right;
}

.continue-shopping-button button {
  padding: 5px 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0 5px 0;
  color: black;
  transition-duration: 0.4s;
}

.continue-shopping-button button:hover {
  background-color: black;
  color: white;
}

.or {
  display: flex;
  justify-content: right;
  margin: 10px 0 5px 0;
}

.or p {
  margin-right: 35px;
}

/* Login styling */


 .login{
  background-image: url("https://images.pexels.com/photos/2292069/pexels-photo-2292069.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: 1500px 1000px;
  background-repeat: no-repeat;
  padding-bottom: 500px;
 }

 .login-header {
  margin: 0;
  padding: 40px 0 30px 0;
  text-align: center;
  font-size: 4em;
 }

 .dont-account-box {
  display: flex;
  justify-content: center;
 }

 .dont-account {
  padding-top: 20px;
  font-size: 1.2em;
  text-align: center;
 }

 .signup-button {
  display: block;
  margin-left: 48px;
  margin-top: 15px;
  font-size: 0.8em;
  padding: 5px 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  transition-duration: 0.4s;
 }

 .signup-button:hover {
  background-color: black;
  color: white;
}

.have-account-box {
  display: flex;
  justify-content: center;
}

 .have-account {
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 1.2em;
 }

 .login-button {
  display: block;
  margin: 20px 0 0 63px;
  font-size: .85em;
  padding: 5px 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  transition-duration: 0.4s;
 }

 .login-button:hover {
  background-color: black;
  color: white;
}

/* Login form styling */

.login-username {
  font-size: 1.2em;
  margin-left: 690px;
}

.input-username, .input-password {
  margin: 5px 0 10px 650px;
  display: block;
  border-radius: 6px;
  padding: 5px;
}

.login-password {
  padding-top: 20px;
  font-size: 1.2em;
  margin-left: 690px;
}

.login-button2 {
  margin-left: 700px;
  margin-top: 10px;
  font-size: 1em;
  padding: 5px 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  transition-duration: 0.4s;
 }

 .login-button2:hover {
  background-color: black;
  color: white;
}
  
.login-error {
  margin: 10px 0 0 0;
  color: rgb(7, 7, 246);
  font-weight: bold;
  text-align: center;
}

/* Sign up form styling */

.signup-username {
  padding-top:40px;
  font-size: 1.2em;
  margin-left: 690px;
}

.input-password_confirmation {
  margin: 5px 0 10px 650px;
  display: block;
  border-radius: 6px;
  padding: 5px;
}

.signup-password {
  padding-top: 20px;
  font-size: 1.2em;
  margin-left: 690px;
}

.signup-confirm-password {
  padding-top: 20px;
  font-size: 1.2em;
  margin-left: 661px;

}

.signup-button2 {
  margin-left: 693px;
  margin-top: 15px;
  font-size: 1em;
  padding: 5px 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  transition-duration: 0.4s;
 }

 .signup-button2:hover {
  background-color: black;
  color: white;
}

 /* About styling */

 .about-content {
  background-image: url("https://images.unsplash.com/photo-1522926193341-e9ffd686c60f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJpcmR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  background-size: 1520px 900px;
  background-repeat: no-repeat;
  color: rgb(9, 9, 9);
 }

 .about-content p:nth-child(1) {
  padding: 120px 0 15px 430px;
  font-size: 1.25rem;
  width: 700px;
  margin: 0;
  font-weight: bold;
 }

 .about-content p:nth-child(2) {
  padding: 60px 0 15px 430px;
  font-size: 1.25rem;
  width: 700px;
  font-weight: bold;
 }

 .about-content p:nth-child(3) {
  padding: 60px 0 180px 430px;
  font-size: 1.25rem;
  width: 700px;
  font-weight: bold;
 }

 /* Checkout styling */

 .checkout {
  background-image: url("https://cdn.pixabay.com/photo/2021/05/04/07/01/great-tit-6227888__480.jpg");
  background-size: 1520px 900px;
  background-repeat: no-repeat;
  color: rgb(9, 9, 9);
 }

 .checkout h1 {
  text-align: center;
  padding: 100px 0 15px 0;
 }

 .checkout label {
  display: block;
  text-align: center;
  padding: 10px;
 }

 .checkout input {
  padding: 0 0 0 5px;
 }

 .submit-order-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 190px;
 }

 .submit-order-button button{
  margin: 10px 0 0 0;
  font-size: 1em;
  padding: 5px 5px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  transition-duration: 0.4s;
 }

 .submit-order-button button:hover {
  background-color: black;
  color: white;
}

 .firstname {
  margin-right: 77px;
 }

 .lastname {
  margin-right: 76px;
 }

 .address {
  margin-right: 57px;
 }

 .city {
  margin-right: 30px;
 }

 .state {
  margin-right: 38px;
 }

 .postcode {
  margin-right: 70px
 }

 .checkout-blurb {
  text-align: center;
  width: 470px;
  margin: 20px 0 30px 520px;
  color: black;
  font-weight: bold;
 }

 /* Confirmation styling */

 .confirmation {
  background-image: url("https://st2.depositphotos.com/16122460/45183/i/600/depositphotos_451835470-stock-photo-beautiful-bird-house-wooden-table.jpg");
  background-size: 1520px 900px;
  background-repeat: no-repeat;
  color: rgb(9, 9, 9);
  text-align: center;
  margin: 0;
  padding: 170px 380px 0 340px;
  font-size: 1.25rem;
  width: 800px;
 }

 .confirmation p {
  padding-bottom: 15px;
 }

 .confirmation p:nth-child(4) {
  margin-bottom: 15px;
 }

 .confirmation p:nth-child(7) {
  margin-bottom: 15px;
 }

 .confirmation p:nth-child(9) {
  padding-bottom: 145px;
 }


 /* Contact styling */

 .contact {
   background-image: url("https://images.unsplash.com/photo-1534212758080-135b3affa932?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDcwfHx0d28lMjBiaXJkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-size: 1520px 900px;
  background-repeat: no-repeat;
  text-align: center;
  /* margin: 0; */
  color: rgb(9, 9, 9);
 }

 .contact li {
  list-style: none;
  padding: 20px;
  font-size: 1.25rem;
  font-weight: bold;
 }

 .contact h2 {
  padding: 80px 0 30px 0;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
 }

 .contact p {
  padding: 10px 0 30px 400px;
  width: 700px;
  font-size: 1.25rem;
  font-weight: bold;
 }

 .contact-phone {
  margin-right: 100px;

 }

 .contact-address {
  margin-left: 70px;
 }

 .contact p:nth-child(6) {
  padding-bottom: 130px;
  font-size: 1.5rem;
  font-weight: bold;
 }

 /* Review form styling */

 .form-comment {
  margin-left: 5px;
 }

 .form-submit{
  margin-left: 5px;
  font-size: .7em;
  padding: 5px 5px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  transition-duration: 0.4s;
 }

 .form-submit:hover {
  background-color: black;
  color: white;
}

/* media screen styling */

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
  
  .display-items {
    width: 100%;
    margin-top: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .item-list {
    width: 100%;
    padding: 10px;
  }

  .item-list-details p:nth-child(2) {
    font-size: 0.7rem;
  }

  .item-list-button button {
    margin: 5px auto;
  }

  .nav-bar {
    height: 65px;
  }

  .cart {
    margin-top: 18px;
    margin-left: 15px;
  }

  .cart span:nth-child(1) {
    font-size: 1.5rem;
  }

  .cart span:nth-child(2) {
    font-size: 0.8rem;
    top: -10px;
  }

  .sign-out {
    margin-top: 8px;
    margin-left: auto;
    margin-right: 15px;
  }

  .logo {
    height: 60%;
    width: 60%;
    margin: 0;
  }

  .item-detail {
    flex-direction: column-reverse;
    align-items: center;
  }

  .item-detail-img {
    height: 300px;
    width: 300px;
    margin: 30px 0 20px 0;
  }

  .item-detail-text-box {
    margin: 0;
    width: 100%;
  }

  .item-detail-button {
    margin: 10px auto;
  }

  .item-detail-review-box {
    margin: 20px 0 0 0;
    font-size: 0.8rem;
  }

  .review-list {
    list-style-type: none;
  }

  .review-list li:before {
    content: "🕊";
    margin-right: 5px;
  }

  .footer {
    padding: 10px 0 10px 0;
    flex-wrap: wrap;
  }

  .about {
    margin-left: 0;
    margin-top: 5px;
    order: 3;
  }

  .footer-container .contact {
    margin-left: 0;
    order: 2;
  }
}




 

 












